In [15]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [16]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [17]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [31]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
prev_june = dt.date(2017, 6, 30) - dt.timedelta(days=30)

In [32]:
#  3. Convert the June temperatures to a list.
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= prev_june).all()

In [33]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
junetemps_df = pd.DataFrame(results, columns=['date','temps'])
junetemps_df.set_index(junetemps_df['date'], inplace=True)
junetemps_df = junetemps_df.sort_index()

In [34]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
junetemps_df.describe()

            temps
count  481.000000
mean    78.041580
std      2.898695
min     69.000000
25%     76.000000
50%     78.000000
75%     80.000000
max     87.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [9]:
# 7. Convert the December temperatures to a list.

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.